html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  background: #F5F5F5;
  box-sizing: border-box;
  overflow: auto;
  margin: 0;
}

div, p {
  word-wrap: break-word;
  white-space: normal;
  word-break: break-all;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
}